@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: karla;
    background: hsl(204, 43%, 93%);
    font-size: 1rem;
    height: 100%;
}
html {
    height: 100%;
}
h3 {
    color: white;
}
h1 {
    color:hsl(179, 62%, 43%)
}
.one h3 {
    color: hsl(71, 73%, 54%);
}
.one p {
    color: hsl(218, 22%, 67%);  
    line-height: 1.9em;
}

.two p {
    color:hsl(204, 43%, 93%);
    
}
.largen {
    margin: 0;
    font-size: 2rem;
    margin-right: 0.3em;
    color: white;
}
.blur {
    opacity: 0.7;
    margin: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 1em;
    height: 100%;
}
.major-container {
    display: grid;
    grid-template-rows: auto auto auto;
    
    max-width: 375px;
    margin: 0 auto;
}
.container {
    padding: 1em 2em;
}

.one {
    background: white;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.two {
    background:hsl(179, 62%, 43%);
}
.three {
    background:hsl(179, 46%, 53%);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.cta-btn {
    padding: 1em 2em;
    width: 85%;
    border-style: none;
    background:hsl(71, 73%, 54%);
    color: white;
    font-weight: 700;
}
a {
    display: block;
    text-decoration: none;
    color:hsl(204, 43%, 93%);
    line-height: 1.5em;
    font-size: 0.9rem;
    opacity: 0.8;
    letter-spacing: 0.01rem;
}

@media (min-width: 1000px){

.major-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 650px;
    border-radius: 2em;
}
.one {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background: white;
    grid-column: 1 / 3;
}
.two {
    background: hsl(179, 62%, 43%);
    border-bottom-left-radius: 0.5em;
}
.three {
    background:hsl(179, 46%, 53%);
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0;
}
.row {
    display: flex;
    align-items: center;
}
}
